<div class="shindan-page">
    <div class="shops-back">
        <div class="shops-head">
            <h1 class="headline">
                <a>Diagnosis</a>
            </h1>
            <p>― 診断結果 ―</p>
        </div>
        <div class="shindan-container">
            <% if @shop.question1 == "1" && @shop.question2 =="1" && @shop.question3 =="1" && @shop.question4 =="1" %>
            <h4>mister parlor（ミスターパーラー）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://www.nishitetsu.jp/nishitetsu_news/wp-content/uploads/2023/06/mp3_2.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Thursday：10:00〜19:00 (L.O18:30)
                                        <p>Friday-Saturday：10:00〜21:00 (L.O20:30)</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-967-0658</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @mister_parlor_kokura</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="1" && @shop.question3 =="1" && @shop.question4 =="2" %>
            <h4>紫留来（シルク）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/141935/640x640_rect_141935063.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Friday：10:00〜20:00
                                        <p>Saturday：12:00〜18:00</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>日曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-531-4818</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @mocha0113silk</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="1" && @shop.question3 =="2" && @shop.question4 =="1" %>
            <h4>Second Fitzroy Coffee（セカンドフィッツロイコーヒー）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/228225/640x640_rect_9dc173a2f13e8c10689fe86332916686.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Friday：8:00〜18:00
                                        <p>Saturday・Sunday：10:00〜18:00</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>水曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-3823-4442</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @secondfitzroycoffee</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="1" && @shop.question3 =="2" && @shop.question4 =="2" %>
            <h4>喫茶 豊乃（ゆたかの）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSeKktzeAmKq51Ryox-5j2czanxsH1Oqe8hf0POQZzLD2n0OyChAf1Qvn0_TI3YkVnHsaw&usqp=CAU">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Sunday：6:00〜18:00 (L.O.16:00)</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>火曜・水曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-482-2170</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @kissa.yutakano</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="2" && @shop.question3 =="1" && @shop.question4 =="1" %>
            <h4>リバース</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://pbs.twimg.com/media/DuhbNyZUUAE4vyx.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：11:30〜25:00</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>不定休</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-512-6710</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @reverse_cafe_time</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="2" && @shop.question3 =="1" && @shop.question4 =="2" %>
            <h4>Parts Of Life（パーツオブライフ）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://media-cdn.tripadvisor.com/media/photo-s/12/56/be/4a/caption.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Tuesday-Thursday：8:30〜18:30
                                        <p>Friday：8:30〜23:00</p>
                                        <p>Saturday：11:00〜23:00</p>
                                        <p>Sunday：11:00〜18:30</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>月曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>090-9794-2343</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @parts_of_life_</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="2" && @shop.question3 =="2" && @shop.question4 =="1" %>
            <h4>gifff（ジフ）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://arne.media/uploads/2021/10/E23B71C3-0600-4BD4-967A-3A998601211F.jpeg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Tuesday-Thursday・Sunday：12:00〜20:00
                                        <p>Friday・Saturday：12:00〜25:00</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>月曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-285-8022</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @gifff_fuk</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "1" && @shop.question2 =="2" && @shop.question3 =="2" && @shop.question4 =="2" %>
            <h4>CAFE DE FAN FAN（カフェドファンファン）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://kitaq.media/wp-content/uploads/2022/01/DSC09693.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Thursday：8:00〜20:00
                                        <p>Friday-Sunday：8:00〜23:00 (L.O 22:45)</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>090-551-4817</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @cafe_de_fanfan</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="1" && @shop.question3 =="1" && @shop.question4 =="1" %>
            <h4>WALL（ウォール）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/206496/640x640_rect_e7f92387ed174cc79c90d686d1fa60cf.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Saturday：12:00〜24:00</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>火曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>080-3181-9217</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @wall.wall.wall.wall.wall.wall</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="1" && @shop.question3 =="1" && @shop.question4 =="2" %>
            <h4>CAFE DE FAN FAN（カフェドファンファン）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://kitaq.media/wp-content/uploads/2022/01/DSC09693.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Thursday：8:00〜20:00
                                        <p>Friday-Sunday：8:00〜23:00 (L.O 22:45)</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>090-551-4817</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @cafe_de_fanfan</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="1" && @shop.question3 =="2" && @shop.question4 =="1" %>
            <h4>PRETO AND BRANCO（プレートアンドブランコ）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://pretoandbranco.com/_src/17383/pb2.webp?v=1703476460530">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：10:00〜20:00</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>080-9141-6863</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @pretoandbrancocoffee
                                        <p>Homepage: https://pretoandbranco.com/ </p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <% elsif @shop.question1 == "2" && @shop.question2 =="1" && @shop.question3 =="2" && @shop.question4 =="2" %>
            <h4>喫茶 豊乃（ゆたかの）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/212878/640x640_rect_c7bdd3c962b352f725fa3687ad2f0230.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Monday-Sunday：6:00〜18:00 (L.O.16:00)</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>火曜・水曜</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-482-2170</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @kissa.yutakano</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="2" && @shop.question3 =="1" && @shop.question4 =="1" %>
            <h4>リバース</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://pbs.twimg.com/media/DuhbNyZUUAE4vyx.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：11:30〜25:00</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>不定休</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-512-6710</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @reverse_cafe_time</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="2" && @shop.question3 =="1" && @shop.question4 =="2" %>
            <h4>cafuné（カフネ）</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://fanfunfukuoka.nishinippon.co.jp/wp-content/uploads/2023/12/cafune_moji_cafe-1.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：11:00〜24:00</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>090-9577-9459</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @cafune.moji</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="2" && @shop.question3 =="2" && @shop.question4 =="1" %>
            <h4>ベツバラ</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://betsubara.cafe/_src/17895/betsubara_info.webp?v=1705417100220">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：11:30〜25:00 (L.O.24:30)</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-541-2030</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @betsubara_cafe
                                        <p>Homepage: https://betsubara.cafe/</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% elsif @shop.question1 == "2" && @shop.question2 =="2" && @shop.question3 =="2" && @shop.question4 =="2" %>
            <h4>ALWAYS SUNSHINE SANDWICH BAR</h4>
            <section class="section io on">
                <div class="grid grid--no-gutters">
                    <div class="grid__item medium-up--one-half">
                        <div class="swiper-container">
                            <div class="media__image">
                                <img class="swiper-lazy" src="https://alwayssunshine.jp/_src/18775/_as2.webp?v=1672461737322">
                            </div>
                        </div>
                    </div>
                    <div class="grid__item medium-up--one-half">
                        <div class="p-content">
                            <div class="shop-info">
                                <h3>店舗情報</h3>
                                <dl>
                                    <div class="shop-item1">
                                        <dd>営業時間</dd>
                                        <dt>Sunday-Friday：11:00〜21:00
                                        <p>(FOOD L.O 20:00 / DRINK & SWEETS L.O 20:30)</p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item2">
                                        <dd>定休日</dd>
                                        <dt>無</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item3">
                                        <dd>電話番号</dd>
                                        <dt>093-776-0610</dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item4">
                                        <dd>SNS</dd>
                                        <dt>Instagram: @assb_fukuoka
                                        <p>Homepage: https://alwayssunshine.jp/ </p></dt>
                                    </div>
                                </dl>
                                <dl>
                                    <div class="shop-item5">
                                        <dd>クチコミ</dd>
                                        <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                    </div>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <% end %>

        </div>
    </div>
</div>