<div class="hunniki-back">
    <h1>落ち着くカフェ</h1>


    <div class="hunniki-container">
        <h4>mister parlor（ミスターパーラー）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://www.nishitetsu.jp/nishitetsu_news/wp-content/uploads/2023/06/mp3_2.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Thursday：10:00〜19:00 (L.O18:30)
                                    <p>Friday-Saturday：10:00〜21:00 (L.O20:30)</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>無</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>093-967-0658</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @mister_parlor_kokura</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>Second Fitzroy Coffee（セカンドフィッツロイコーヒー）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://tblg.k-img.com/restaurant/images/Rvw/228225/640x640_rect_9dc173a2f13e8c10689fe86332916686.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Monday-Friday：8:00〜18:00
                                    <p>Saturday・Sunday：10:00〜18:00</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>水曜</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>093-3823-4442</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @secondfitzroycoffee</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>cafuné（カフネ）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://fanfunfukuoka.nishinippon.co.jp/wp-content/uploads/2023/12/cafune_moji_cafe-1.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Friday：11:00〜24:00</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>無</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>090-9577-9459</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @cafune.moji</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>day to day（デイトゥディ）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://fukuoka-cafenikki.com/wp-content/themes/wevst8/images/maccha5.jpg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>日によって異なる
                                        <p>※公式Instaglamにて要確認</p></dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>不定休</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>050-5359-7615</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @2019.daytoday</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <h4>liberté（リベルテ）</h4>
        <section class="section io on">
            <div class="grid grid--no-gutters">
                <div class="grid__item medium-up--one-half">
                    <div class="swiper-container">
                        <div class="media__image">
                            <img class="swiper-lazy" src="https://arne.media/uploads/2023/10/8C92684C-BF5D-41B0-AFE2-31EF2F6AB9BF-800x603.jpeg">
                        </div>
                    </div>
                </div>
                <div class="grid__item medium-up--one-half">
                    <div class="p-content">
                        <div class="shop-info">
                            <h3>店舗情報</h3>
                            <dl>
                                <div class="shop-item1">
                                    <dd>営業時間</dd>
                                    <dt>Sunday-Friday：12:00〜18:00 (L.O.17:30)</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item2">
                                    <dd>定休日</dd>
                                    <dt>不定休</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item3">
                                    <dd>電話番号</dd>
                                    <dt>無</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item4">
                                    <dd>SNS</dd>
                                    <dt>Instagram: @liberte_cafe_</dt>
                                </div>
                            </dl>
                            <dl>
                                <div class="shop-item5">
                                    <dd>クチコミ</dd>
                                    <dt><%= link_to "クチコミ投稿する", posts_new_path %></dt>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>