<div class="reviewshosai-back">
    <div class="reviewshosai-head">
        <h1 class="headline">
            <a>Review</a>
        </h1>
        <p>― クチコミ詳細 ―</p>
    </div>

<div class="post-shosai">
    <div class="postshosai-content1">
        <%= image_tag @post.image_url if @post.image? %>
    </div>
    <div class="postshosai-content2">
        <p><b><%= @post.store %></b></p>
        <p>雰囲気<%= @post.category %></p>
        <p>注文したメニュー : <%= @post.menu %></p>
        <p>感想 : <%= @post.comment %></p>
        <p>投稿日 : <%= @post.created_at.strftime('%Y/%m/%d') %></p>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(@post) %>
                    <%= link_to post_like_path(@post), method: :delete do %>
                        <i class="fas fa-heart"></i><%= @post.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to post_likes_path(@post), method: :post do %>
                        <i class="far fa-heart"></i><%= @post.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="far fa-heart"></i><%= @post.likes.count %>
            <% end %>
            <br>
            <br>
        <%= link_to "編集する", edit_post_path(@post.id) %>
        <br><%= link_to "口コミ一覧に戻る", posts_path %>
    </div>
</div>


