<!DOCTYPE html>
  <head>
    <title>Cafe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/54026dca54.js"  crossorigin="anonymous"></script> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__container">
        <h1 class="header__logo"><a href="/">cafe navi</a></h1>
        <input type="checkbox" id="check">
        <label for="check" class="hamburger">
          <span></span>
        </label>
        <nav class="nav">
          <ul>
            <li class="nav__item"><a href="/">ホーム</a></li>
            <li class="nav__item">
              <% if user_signed_in? %>
                <%= link_to "マイページへ", user_path(current_user.id) %>
              <% end %>
            </li>
            <li class="nav__item"><a href="/posts/new">クチコミ投稿</a></li>
            <li class="nav__item"><a href="/shops">カフェ診断</a></li>
            <li class="nav__item"><a href="/users/sign_out">ログアウト</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <div id="mask"></div>


  </body>
</html>
