<div class="user-back">
  <div class="edit-user">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      
      <div class="user-field">
        <div class="edit-user-field">
          <%= f.label :名前 %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>

        <p>
        <div class="edit-user-field">
          <%= f.label :プロフィール %><br />
          <%= f.text_area :profile, autofocus: true %>
        </div>

        <p>
        <div class="edit-user-field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <p>
        <div class="edit-user-field">
          <%= f.label :パスワード %> <i>(変更する場合は記入してください)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> 文字以上</em>
          <% end %>
        </div>

        <p>
        <div class="edit-user-field">
          <%= f.label :パスワードの確認 %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <p>
        <div class="edit-user-field">
          <%= f.label :現在のパスワード %> <i>(マイページの変更にはパスワードの入力が必要です)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </div>
      
        <p>
        <div class="actions">
          <%= f.submit "編集する", class:"action-btn" %>
        </div>
    <% end %>

    <h3>Delete Account</h3>

    <div class="actions">
    <p>投稿した内容などすべて消えます。本当によろしいですか? </p>
    <%= button_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class:"action-btn" %></div>
    </div>
    <p>
    
  </div>
</div>